{% load static %}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'final/styles.css' %}">
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="https://kit.fontawesome.com/f8f9643d98.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap" rel="stylesheet">
        <title>Trackr</title>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
        {% endif %}
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>